{% extends "base.html" %}

{% block title %} {% if mode == "create" %} 새글 작성 {% else %} 글 수정 {% endif %} {% endblock %}

{% block content %}
<h2>{% if mode == "create" %}글 작성{% else %}글 수정{% endif %}</h2>
<form method="post">
    {% csrf_token %}

    <div>
        {{form.non_field_errors}}
    </div>

    <div>
        <label>{{form.title.label_tag}}</label>
        {{form.title.errors}}
        {{form.title}}
    </div>

    <div>
        <label>{{form.content.label_tag}}</label>
        {{form.content.errors}}
        {{form.content}}
    </div>

    <button type="submit">{% if mode == "create" %} 글 작성 {% else %} 글 수정 {% endif %}</button>
    {%if mode == "create"%}
    <a href="{% url 'home' %}">취소</a>
    {% else %}
    <a href="{% url 'post_detail' post.pk %}">취소</a>
    {% endif %}
</form>

{% endblock %}

