{% extends "base.html" %}

{% block title %} {% if object %} 글 수정 {% else %} 새글 작성 {% endif %} {% endblock %}

{% block content %}
<h2>{% if object %}글 수정{% else %}글 작성{% endif %}</h2>
<form method="post">
    {% csrf_token %}

    <div>
        {{form.non_field_errors}}
    </div>

    <div>
        {{form.title.label_tag}}
        {{form.title.errors}}
        {{form.title}}
    </div>

    <div>
        {{form.content.label_tag}}
        {{form.content.errors}}
        {{form.content}}
    </div>

    <button type="submit">{% if object %} 글 수정 {% else %} 글 작성 {% endif %}</button>
    {% if object %}
    <a href="{% url 'post_detail' object.pk %}">취소</a>
    {% else %}
    <a href="{% url 'home' %}">취소</a>
    {% endif %}
</form>

{% endblock %}

