{% extends "base.html" %}

{% block title %} post.title {% endblock %}

{% block content %}
<h1>{{post.title}}</h1>
<p>{{post.content}}</p>
<p><a href="{% url 'post_update' post.pk %}">글 수정하기</a></p>

<p><a href="/">목록으로 가기</a></p>

<h2>댓글 목록</h2>
{% for c in comments %}
<ul>
    <li>
        {{c.content}} {{c.created_at}}
    </li>
</ul>
{% empty %}
<p> 댓글을 써주세요 </p>
{% endfor %}

<h2></h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">댓글 작성</button>
</form>

{% endblock %}